<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <applicationInitialization>
            <add initializationPage="/" hostName="deliverynote.esa-logistics.eu" />
        </applicationInitialization>
        <rewrite>
            <rules>
                <rule name="deliverynote.esa-logistics.eu" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^deliverynote\.esa-logistics\.eu$" />
                        <add input="{PATH_INFO}" pattern="^/admin/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="\a\{R:0}" />
                </rule>
                <rule name="api-deliverynote.esa-logistics.eu" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^api-deliverynote\.esa-logistics\.eu$" />
                        <add input="{PATH_INFO}" pattern="^/api/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="\b\{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>